.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .gh {
  color: #999999;
}
.highlight .sr,
.hljs .hljs-regexp {
  color: #f6aa11;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .nb {
  color: #f6aa11;
}
.highlight .cm {
  color: #9d9d9d;
}
.highlight .cp {
  color: #9d9d9d;
}
.highlight .c1 {
  color: #9d9d9d;
}
.highlight .cs {
  color: #9d9d9d;
}
.highlight .c, .highlight .cd,
.hljs .hljs-comment, .hljs .hljs-doctag {
  color: #9d9d9d;
}
.highlight .err {
  color: #960050;
}
.highlight .gr {
  color: #960050;
}
.highlight .gt {
  color: #960050;
}
.highlight .gd,
.hljs .hljs-deleted {
  color: #ff4269;
}
.highlight .gi,
.hljs .hljs-addition {
  color: #a6e22e;
}
.highlight .ge {
  color: #49483e;
}
.highlight .kc {
  color: #66d9ef;
}
.highlight .kd {
  color: #66d9ef;
}
.highlight .kr {
  color: #66d9ef;
}
.highlight .no,
.hljs .hljs-variable.constant_ {
  color: #66d9ef;
}
.highlight .kt,
.hljs .hljs.meta .hljs-keyword,
.hljs .hljs-type {
  color: #66d9ef;
}
.highlight .mf {
  color: #c6a6ff;
}
.highlight .mh {
  color: #c6a6ff;
}
.highlight .il {
  color: #c6a6ff;
}
.highlight .mi {
  color: #c6a6ff;
}
.highlight .mo {
  color: #c6a6ff;
}
.highlight .m, .highlight .mb, .highlight .mx,
.hljs .hljs-number {
  color: #c6a6ff;
}
.highlight .sc {
  color: #c6a6ff;
}
.highlight .se,
.hljs .hljs-char.escape_ {
  color: #c6a6ff;
}
.highlight .ss,
.hljs .hljs-symbol {
  color: #c6a6ff;
}
.highlight .sd {
  color: #e6db74;
}
.highlight .s2 {
  color: #e6db74;
}
.highlight .sb {
  color: #e6db74;
}
.highlight .sh {
  color: #e6db74;
}
.highlight .si,
.hljs .hljs-subst {
  color: #e6db74;
}
.highlight .sx {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
.highlight .s,
.hljs .hljs-string, .hljs .hljs-meta .hljs-string {
  color: #e6db74;
}
.highlight .na,
.hljs .hljs-attr, .hljs .hljs-attribute {
  color: #a6e22e;
}
.highlight .nc,
.hljs .hljs-title.class_, .hljs .hljs-title.class_.inherited__,
.hljs .hljs-selector-class {
  color: #a6e22e;
}
.highlight .nd,
.hljs .hljs-meta, .hljs .hljs-built_in, .hljs .hljs-selector-pseudo {
  color: #a6e22e;
}
.highlight .ne {
  color: #a6e22e;
}
.highlight .nf,
.hljs .hljs-title.function_, .hljs .hljs-title.function_.invoke__,
.hljs .hljs-selector-id {
  color: #a6e22e;
}
.highlight .vc {
  color: #ffffff;
}
.highlight .nn,
.hljs .hljs-section {
  color: #ffffff;
}
.highlight .nl {
  color: #ffffff;
}
.highlight .ni {
  color: #ffffff;
}
.highlight .bp {
  color: #ffffff;
}
.highlight .vg {
  color: #ffffff;
}
.highlight .vi {
  color: #ffffff;
}
.highlight .nv,
.hljs .hljs-variable, .hljs .variable.language_ {
  color: #ffffff;
}
.highlight .w {
  color: #ffffff;
}
.highlight {
  color: #ffffff;
}
.highlight .n, .highlight .py, .highlight .nx,
.hljs .hljs-property, .hljs .hljs-params,
.hljs .hljs-bullet {
  color: #ffffff;
}
.highlight .ow {
  color: #ff7bab;
}
.highlight .nt,
.hljs .hljs-tag, .hljs .hljs-name,
.hljs .hljs-selector-tag {
  color: #ff7bab;
}
.highlight .k, .highlight .kv,
.hljs .hljs-keyword, .hljs .hljs-literal {
  color: #ff7bab;
}
.highlight .kn {
  color: #ff7bab;
}
.highlight .kp {
  color: #ff7bab;
}
.highlight .o,
.hljs .hljs-operator, .hljs .hljs-selector-attr {
  color: #ff7bab;
}
