---
---

html {
  background-color: #43424a;
  background: #43424a linear-gradient(#43424a, #222228) fixed;
}

body {
  color: #fafafa;
}

section {
  background: linear-gradient(#313036, #232326 700px);
  border-top: 1px solid #313036;
}

.wrapper {
  background: #313036;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}

a {
  color: #63ff8c;
}

header {
  background:#313036;
  background: linear-gradient(#313036, #232326);
  border-bottom:1px solid #1b1b1d;
  
  p {
    color:#fafafa;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #fafafa;
}

div.highlighter-rouge {
  background: #3A3C42;
}

p > code, kbd {
  background-color: #3d4046;
  color: #fdfdfd;
}

// change svg icons to white
.svg-icon {
  fill: #ffffff;
}

@media print, screen and (max-width: 740px) {
  html {
    background: #232326;
  }
}

blockquote {
  background:#3A3C42;
  color:#fafafa;
}

th, td {
  border-bottom:1px solid #313036;
}

dt {
  color:#fafafa;
}

th {
  color:#fafafa;
}

hr {
  background: #131314;
}

footer {
  color:#fafafa;
  
  a {
    color:#fafafa;
  }
}
