---
---

html {
  background: #6C7989;
  background: #6C7989 linear-gradient(#6C7989, #434B55) fixed;
}

body {
  color: #555;
}

section {
  // no gradiant in order to more easily match the comment section
  background: #fafafa;
  //background: linear-gradient(#fafafa, #DEDEDE 700px);
  border-top:1px solid #fff;
}

.wrapper {
  background: #DEDEDE;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}

a {
  color:#069;
}

strong {
  color:#222;
}

header {
  background:#C6EAFA;
  background: linear-gradient(#DDFBFC, #C6EAFA);
  border-bottom:1px solid #B2D2E1;
  
  h1 {
    color:#069;
    text-shadow:rgba(#fff, 0.9) 0 1px 0;
  }
  
  p {
    color:#61778B;
    
    &.view {
      text-shadow:rgba(#fff, 0.9) 0 1px 0;
      
      a {
        color:#06c;
      }
    }
  }
  
  ul {
    background:#5198DF;
    background: linear-gradient(#77B9FB, #3782CD);
    box-shadow: inset rgba(#fff, 0.45) 0 1px 0, inset rgba(#000, 0.2) 0 -1px 0;
    
    &:before {
      background:rgba(#000, 0.1);
      box-shadow: rgba(#000, 0.2) 0 -1px 0, inset rgba(#fff, 0.7) 0 -1px 0;
    }
    
    li {
      border-right:1px solid #3A7CBE;
    }
    
    li + li {
      border-left:1px solid #8BBEF3;
    }
    
    a {
      color:#fff;
      color:rgba(#fff, 0.8);
      text-shadow:rgba(#000, 0.4) 0 -1px 0;
      
      strong {
        color:#fff;
      }
    }
  }
}

.header-links {
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  
  a {
    color: #06c;
  }
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

blockquote {
  background:#ccc;
  background:rgba(#000, 0.06);
  color:#222;
}

code, pre {
  color:#333;
}

pre {
  background: #3A3C42;
  color:#f8f8f2;
  
  code {
    color:#f8f8f2;
  }
}

th, td {
  border-bottom:1px solid #aaa;
}

dt {
  color:#222;
}

th {
  color:#222;
}

hr {
  background:#aaa;
}

footer {
  color:#ccc;
  
  a {
    color:#fff;
  }
}

p > code, kbd {
  background-color: #4f525a;
  color: #fdfdfd;
}

// change svg icons to white
.svg-icon {
  fill: #ffffff;
}
