pre.highlight {
  margin-bottom: 20px !important;
  padding-top: 20px !important;
}

div.highlighter-rouge {
  max-height: none !important;
  overflow: none !important;
  transition: none !important;
}
