---
---

pre.highlight {
  margin-bottom: 20px;
  padding-top: 20px;
}

div.highlighter-rouge {
  max-height: none;
  overflow: auto;
  transition: none;
}

// this requries js, soo..
#theme-switch {
  display: none;
}
