---
---

button.collapsible {
  cursor: default;
}

.collapsible:after {
  display: none;
}

div.highlighter-rouge {
  max-height: none !important;
  overflow: auto !important;
  transition: none !important;
}

// this requries js, soo..
#theme-switcher {
  display: none;
}
