---
---

@import "{{ site.theme }}";

// weird issues with multiple layers and gaps
li ul {
  margin: 0;
}

.clearfix {
  clear: both;
  
  &:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
  }
}

.devicon-devicon-plain {
  max-width: 2em;
}

.lang-icon {
  font-size: 2em;
  vertical-align: middle;
}

.lang-label {
  vertical-align: middle;
  top: 32%;
  position: absolute;
  left: 0;
  margin-left: 41px;
}

// remove padding at top of code block
pre.highlight {
  padding-top: 0;
}

// need to bypass the 20px margin at top of collapsible
// by default it's hidden
div.highlighter-rouge {
  margin-top: -20px;
  display: none;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

// padding added to bottom to make it look nice
.collapsible {
  background-color: #3A3C42;
  color: #f8f8f2;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: calc(100% + 40px);
  vertical-align: middle;
  position: relative;
  margin: 0 -20px 20px;
}

/* if you want to change the original color
.devicon-devicon-plain path {
  fill: #4691f6;
}*/

#share-buttons {
  transform: translate(-50%);
  top: 48%;
  position: absolute;
  left: 50%;
}

// display on right in mobile browser
@media print, screen and (max-width: 740px) {
  #share-buttons {
    left: auto;
    right: 0;
    transform: none;
  }
}

// override bottom margin to make hr look nicer
.home {
  h1#latest-posts {
    margin-bottom: 5px;
  }
}

.blog-title,
.post-header {
  text-align: left;
  background: none;
  padding-left: 0px;
  padding-bottom: 10px;
}

.post-list {
  list-style: none;
  padding-left: 0;
}

.svg-icon {
  vertical-align: middle;
  padding: 5px;
}

.social-label {
  vertical-align: middle;
}

.header-links {
  right: 20px;
  top: 20px;
  position: absolute;
  text-align: right;
  
  font-weight: 700;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  -webkit-font-smoothing: antialiased;
  
  a {
    color: #06c;
  }
}

/* Post navigation links */
.post_navi-label {
  font-size: 0.9em;
}

.post_navi {
  display: flex;
  
  .post_navi-item {
    padding: 0 2.2em;
    width: 50%;
    position: relative;
    color: inherit !important;
  }

  .nav_prev {
    text-align: left;
    
    .post_navi-arrow {
      left: 0;
    }
  }
  
  .nav_next {
    text-align: right;
    
    .post_navi-arrow {
      right: 0;
    }
  }
  
  .post_navi-arrow {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-size: 2.5em;
    opacity: .8;
    font-weight: 600;
  }
}

.contact-list,
.social-media-list,
.pagination {
  list-style:none;
  margin-left:0;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.grey {
  color: #828282;
}
  
.post-content {
  padding-top: 15px;
  margin-bottom: 30px;
}
