:root {
  --transition: 1s ease;
}

html {
  transition: background-color var(--transition), background var(--transition);
  background-color: var(--html-background-color-from);
  background: var(--html-background-color-from)
    linear-gradient(
      var(--html-background-color-from),
      var(--html-background-color-to)
    ) fixed;
}

body {
  transition: color var(--transition);
  color: var(--body-color);
}

section {
  transition: background var(--transition), border-top var(--transition);
  background:
    linear-gradient(
      var(--section-background-from),
      var(--section-background-to) 700px
    );
  border-top: 1px solid var(--section-border-top);
}

.wrapper {
  transition: background var(--transition), box-shadow var(--transition);
  background: var(--wrapper-background);
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}

a {
  transition: color var(--transition);
  color: var(--link-color);
}

header {
  transition: background var(--transition), border-bottom var(--transition);
  background: var(--header-background);
  background: linear-gradient(
      var(--header-background-from),
      var(--header-background-to)
    );
  border-bottom: 1px solid var(--header-border-bottom);
  
  p {
    transition: color var(--transition);
    color: var(--header-p);
    
    &.view {
      transition: text-shadow var(--transition);
      text-shadow: var(--header-p-view-text-shadow);
    }
  }
  
  h1 {
    transition: color var(--transition), text-shadow var(--transition);
    color: var(--header-h1-color);
    text-shadow: var(--header-h1-textshadow);
    
    a {
      transition: color var(--transition);
      color: var(--header-h1-color);
    }
  }
}

h1 {
  transition: color var(--transition);
  color: var(--h1);
}
h2 {
  transition: color var(--transition);
  color: var(--h2);
}
h3 {
  transition: color var(--transition);
  color: var(--h3);
}
h4 {
  transition: color var(--transition);
  color: var(--h4);
}
h5 {
  transition: color var(--transition);
  color: var(--h5);
}
h6 {
  transition: color var(--transition);
  color: var(--h6);
}

//
// code blocks section
//
div.highlighter-rouge {
  transition: background var(--transition);
  background: var(--highlighter-background);
}

pre {
  transition: background var(--transition), color var(--transition);
  background: var(--highlighter-background);
  color: var(--pre-color);
  
  code {
    transition: color var(--transition);
    color: var(--pre-color);
  }
}
// end code blocks section

// inline `code`
p > code, kbd {
  transition: background-color var(--transition), color var(--transition);
  background-color: var(--code-background-color);
  color: var(--code-color);
}

strong {
  transition: color var(--transition);
  color: var(--strong-color);
}

// change svg icons to white
.svg-icon {
  transition: fill var(--transition);
  fill: var(--svg-footer-color);
}

.post_navi {
  .post_navi-item {
    transition: color var(--transition);
    color: var(--body-color);
  }
}

// change the background color for mobile devices
@media print, screen and (max-width: 740px) {
  html {
    transition: background var(--transition);
    background: var(--media-html-background);
  }
}

blockquote {
  transition: background var(--transition), color var(--transition);
  background: var(--blockquote-background);
  color: var(--blockquote-color);
}

th, td {
  transition: border-bottom var(--transition);
  border-bottom: 1px solid var(--th-td-border-bottom);
}

dt {
  transition: color var(--transition);
  color: var(--dt-color);
}

th {
  transition: color var(--transition);
  color: var(--th-color);
}

hr {
  transition: background var(--transition);
  background: var(--hr-background);
}

footer {
  transition: color var(--transition);
  color: var(--footer-color);
  
  a {
    transition: color var(--transition);
    color: var(--footer-a-color);
  }
}