---
layout: html_minifier
---

<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <script src="{{ '/assets/js/immediate.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/deferred.js' | relative_url }}" defer></script>

    <!-- noscript support -->
    <noscript>
      <link rel="stylesheet" href="{{ '/assets/css/noscript.css?v=' | append: site.github.build_revision | relative_url }}">
    </noscript>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1><a href="{{ site.url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <!--
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        -->
        <p class="view">
          <a href="{{ site.url }}/archive.html">Blog Archive</a>
        </p>
        <input id="theme-switcher" class="theme-switcher" type="checkbox">
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    {%- include footer.html -%}
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
