---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="blog-title">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • by <div class="avatar-container">
          <a href="https://github.com/{{ author | slugify }}" target="_blank">
            {% avatar {{ author | slugify }} size=100 %}
          </a>
        </div>
        <a href="/author/{{ author | slugify }}/">
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">
              {{ author }}
            </span>
          </span>
        </a>
      {%- endif -%}
      {% if page.category %}
        • <span><a href="/category/{{ page.category | slugify }}/">{{ page.category }}</a></span>
      {% endif %}
    </p>
    {% if page.tags %}
      <div class="bubble-container">
        {% for tag in page.tags %}
        <a class="bubble bubble-item" href="/tag/{{ tag }}/">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <hr>
    {% include sharelinks.html %}
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  
  <script>
    let script = document.createElement('script');
    script.src = "https://utteranc.es/client.js";
    script.setAttribute("repo", "cherryleafroad/cherryleafroad.github.io");
    script.setAttribute("issue-term", "pathname");
    script.setAttribute("label", "comments");
    script.setAttribute("theme", cherryblog.getCommentsTheme());
    script.setAttribute("crossorigin", "anonymous");
    script.async = true;

    document.currentScript.parentNode.appendChild(script);
    document.currentScript.remove();
  </script>
</article>
