---
layout: default
---

<div>
	<h1 class="page-heading">Tag: {{ page.tag }}</h1>
	<ul class="post-list">
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		{% for post in site.tags[page.tag] %}
		<!--
		<li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
			{{ post.excerpt }}
		</li>
		-->

		<li>
			<span class="post-meta tag-post">{{ post.date | date: date_format }}</span>
			<h3 class="tag-post">
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
			</h3>
			{%- if site.show_excerpts -%}
			<blockquote>
				<p class="tag-post">
				{{ post.excerpt | strip_html }}
				<br><a href="{{ post.url | relative_url }}">Read more...</a>
				</p>
			</blockquote>
			{%- endif -%}
		</li>
		{% endfor %}
	</ul>

	<hr>
	<h1>Tags</h1>
	{% include tag-list.html %}
</div>
