---
layout: default
---

<div>
	<h1 class="page-heading">Tag: {{ page.tag }}</h1>
	<ul class="post-list">
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		{% for post in site.tags[page.tag] %}
		<li>
			<span class="post-meta tag-post">{{ post.date | date: date_format }}</span>
			{% assign author = page.author | default: site.author %}
			{%- if author -%}
				<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"> • by {{ author }}</span></span>
			{%- endif -%}
			{% if post.category %}
				<span> • <a href="/category/{{ post.category | slugify }}">{{ post.category }}</a></span>
			{% endif %}
			<h3 class="tag-post">
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
			</h3>

			{% if post.tags %}
			<div class="bubble-container tag-post tag-tags">
				{% for tag in post.tags %}
				<a class="bubble bubble-item" href="/tag/{{ tag }}">{{ tag }}</a>
				{% endfor %}
			</div>
			{% endif %}

			{%- if site.show_excerpts -%}
			<blockquote>
				<p class="tag-post">
				{{ post.excerpt | strip_html }}
				<br><a href="{{ post.url | relative_url }}">Read more...</a>
				</p>
			</blockquote>
			{%- endif -%}
		</li>
		{% endfor %}
	</ul>

	<hr>
	<h1>Tags</h1>
	{% include tag-list.html %}
</div>
